<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean id="TV" class="entity.US_Series"/>

    <bean id="Link" class="entity.Link"/>

    <bean id="Seed" class="entity.Seed"/>

    <bean id="LinkDao" class="dao.imp.Link_dao_imp">
        <property name="sqlSessionTemplate" ref="sessionTemplate"/>
    </bean>

    <bean id="US_SeriesDao" class="dao.imp.US_Series_dao_imp">
        <property name="sqlSessionTemplate" ref="sessionTemplate"/>
    </bean>

</beans>